{% extends '::base.html.twig' %}

{% block content %}

        <header id="top"></header>

        <section id="wrapper">

            {% include 'FionaGeek2geekCoreBundle:Layout:topsearch.html.twig' %}


            <section id="search_corps">


                {% include 'FionaGeek2geekCoreBundle:Layout:leftsearch.html.twig' %}

                <div class="listing">


                    <a href="{{ path('fiona_geek2geek_core_profile',{id:geek.id}) }}">
                        <img src="{{ asset(geek.photo) }}"  style= "width:200px; height:220px; padding-left:5%;" class="avatar">
                    </a>

                    <header>

                        {% set avatar = geek.gender|upper == 'FEMALE' ? 'images/female.png' : 'images/male.png' %}

                        <a href="{{ path('fiona_geek2geek_core_profile',{id:geek.id}) }}" style="background: url('{{ asset(avatar) }}') no-repeat 0 3px;padding-left:30px;">
                        {{ geek.firstname }} {{ geek.lastname }}
                        </a>
                        
                        <span class="right">
                            Register on {{ geek.datesign|date('d/m/Y') }}
                        </span>
                    </header>

                    <section style="background: rgba(255,255,255,0.7);padding:10px;">

                        <strong>Email : </strong> <a class="mailto" href="mailto:{{ geek.email }}">{{ geek.email }}</a><br />

                        {% if geek.interests|length <= 0 %}
                            <br />This person has no center of interest
                        {% endif %}

                        {% for interest in geek.interests %}
                            <div class="interet"><div class="vign"></div>{{ interest.label }}</div>
                        {% endfor %}

                        <div style="clear:both;"></div>

                    </section>

                    <section id="consultations">
                        <table>
                            <thead>
                            <tr class="head">
                                <th>
                                    <a href="javascript:void(0);" onclick="consultTab($(this));" style="color:black;">[+ Détails]</a>
                                    Consultations : {{ geek.visits|length }} people visited this profile
                                </th>
                            </tr>
                            </thead>
                            <tbody id="consultationTab">


                                {% for visit in geek.visits %}
                                    <tr class="odd">
                                        <td>
                                            An user visited that profil on
                                            {{ visit.dateVisit|date('d/m/Y') }} à
                                            {{ visit.dateVisit|date('H:i:s') }}
                                        </td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>

                    </section>


                </div>

            </section>



        </section>


{% endblock %}
