
{% for geek in geeks %}
    <section class="bloc">

        <a href="{{ path('fiona_geek2geek_core_profile',{id:geek.id}) }}">
            <img src="{{ asset(geek.photo) }}"  class="avatar">
        </a>

        <header>

            {% set avatar = geek.gender|upper == 'FEMALE' ? 'images/female.png' : 'images/male.png' %}

            <a href="{{ path('fiona_geek2geek_core_profile',{id:geek.id}) }}" style="background: url('{{ asset(avatar) }}') no-repeat 0 3px;padding-left:30px;">
            {{ geek.firstname }} {{ geek.lastname }}
            </a>
			
			<span class="right">
				Register on {{ geek.datesign|date('d/m/Y') }}
			</span>
        </header>

        <section>



            {% if geek.interests|length <= 0 %}
                This person has no center of interest
            {% endif %}

            {% for interest in geek.interests %}
                <div class="interet"><div class="vign"></div>{{ interest.label }}</div>
            {% endfor %}


        </section>

    </section>
{% endfor %}